* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.krug {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    height: 350px;
    width: 350px;
    border: 13px solid rgb(4, 74, 250);
    border-radius: 50%;
    animation :krug 4s infinite forwards;
}

@keyframes krug {
   0%{
border-color: rgb(0, 250, 104);
 transform: scale(1);
}
 25% {
     border-color: rgb(203, 0, 253);
     transform: scale(1.1);
 }
 50%{
     border-color: rgb(194, 214, 9);
     transform: scale(1.3);
 }
 75%{
     border-color: rgb(255, 2, 225);
     transform: scale(1.1);
 }
 100%{
     border-color: purple;
     transform: scale(1);
 }
}

.kvadrat {
    height: 75px;
    width: 75px;
    border: 11px solid limegreen;
    animation: kvadrat 8s infinite ease-in-out alternate-reverse;
}

@keyframes kvadrat {

     0%{
         transform: rotate(0deg);
     }
     25%{
         border-color: rgb(221, 118, 15);
         border-width: 10px;
     }
     50%{
          border-color: mediumblue;
          border-width: 20px;
     }
     75%{
          background-color: rgb(20, 158, 105);
          border-width: 40px;
     }
     100%{
         transform: rotate(360deg);
         border-color: rgb(248, 125, 2);
         border-width: 40px;
     }

}